<h1>Listing diagnostic_codes</h1>

<table>
  <tr>
    <th>Code number</th>
    <th>Code name</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diagnostic_codes.each do |diagnostic_code| %>
  <tr>
    <td><%= diagnostic_code.code_number %></td>
    <td><%= diagnostic_code.code_name %></td>
    <td><%= diagnostic_code.cost %></td>
    <td><%= link_to 'Show', diagnostic_code %></td>
    <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
    <td><%= link_to 'Destroy', diagnostic_code, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>
