<p id="notice"><%= notice %></p>

<p>
  <b>Code number:</b>
  <%= @diagnostic_code.code_number %>
</p>

<p>
  <b>Code name:</b>
  <%= @diagnostic_code.code_name %>
</p>

<p>
  <b>Cost:</b>
  <%= @diagnostic_code.cost %>
</p>


<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
