<%= form_for(@physician_availability) do |f| %>
  <% if @physician_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician_availability.errors.count, "error") %> prohibited this physician_availability from being saved:</h2>

      <ul>
      <% @physician_availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
