<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @physician_availability.status %>
</p>


<%= link_to 'Edit', edit_physician_availability_path(@physician_availability) %> |
<%= link_to 'Back', physician_availabilities_path %>
