<%= form_for(@weekday_availability) do |f| %>
  <% if @weekday_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekday_availability.errors.count, "error") %> prohibited this weekday_availability from being saved:</h2>

      <ul>
      <% @weekday_availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Weekday' %><br />
    <%= f.text_field :w_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
