<h1>Listing weekday_availabilities</h1>

<table>
  <tr>
    <th>Week day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weekday_availabilities.each do |weekday_availability| %>
  <tr>
    <td><%= weekday_availability.w_day %></td>
    <td><%= link_to 'Show', weekday_availability %></td>
    <td><%= link_to 'Edit', edit_weekday_availability_path(weekday_availability) %></td>
    <td><%= link_to 'Destroy', weekday_availability, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weekday availability', new_weekday_availability_path %>
