<p id="notice"><%= notice %></p>

<p>
  <b>W day:</b>
  <%= @weekday_availability.w_day %>
</p>


<%= link_to 'Edit', edit_weekday_availability_path(@weekday_availability) %> |
<%= link_to 'Back', weekday_availabilities_path %>
