<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.collection_select :patient_id, Patient.all, :id, :email%>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br />
    <%= f.number_field :physician_id %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_code %><br />
    <%= f.collection_select :diagnostic_code_id, DiagnosticCode.all, :id, :last_name%>
  </div>
  <div class="field">
    <%= f.label :weekday_availability_id %><br />
    <%= f.collection_select :weekday_availability_id, WeekdayAvailability.all, :id, :w_day%>
  </div>
  <div class="field">
    <%= f.label :reason_for_visit %><br />
    <%= f.text_area :reason_for_visit %>
  </div>
  <div class="field">
    <%= f.label :physician_note %><br />
    <%= f.text_area :physician_note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
