<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Patient Last Name</th>
    <th>Physician</th>
    <th>Diagnostic code</th>
    <th>Weekday availability</th>
    <th>Reason for visit</th>
    <th>Physician note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.patient.last_name %></td>
    <td><%= appointment.physician.last_name %></td>
    <td><%= appointment.diagnostic_code.code_number%></td>
    <td><%= appointment.weekday_availability_id%></td>
    <td><%= appointment.reason_for_visit %></td>
    <td><%= appointment.physician_note %></td>

    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
