<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.last_name %>
</p>

<p>
  <b>Physician:</b>
  <%= @appointment.physician.last_name %>
</p>

<p>
  <b>Diagnostic code:</b>
  <%= @appointment.diagnostic_code.code_number %>
</p>

<p>
  <b>Weekday availability:</b>
  <%= @appointment.weekday_availability_id %>
</p>

<p>
  <b>Reason for visit:</b>
  <%= @appointment.reason_for_visit %>
</p>

<p>
  <b>Physician note:</b>
  <%= @appointment.physician_note %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
